@model IEnumerable<Category>

<li class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown"
       asp-controller="Pie" asp-action="Index"> Pies <b class="fa-shopping-basket"></b></a>
    <ul class="dropdown-menu">
        @foreach (var category in Model)
        {
            <li>
                <a asp-controller="Pie" asp-action="List" asp-route-category="@category.CategoryName">@category.CategoryName</a>
            </li>
        }
        <li class="fa-divide"></li>
        <li>
            <a asp-controller="Pie" asp-action="List" asp-route-category="">View All pies</a>
        </li>
    </ul>
</li>